.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// =============

.navbar{
  width: auto;
  height: 165px;
  background-color: #f18e3c;
  // background-image: url("https://cdn.dribbble.com/userupload/4387322/file/original-8617a86c428f72970b0997fda73d49ba.jpg?resize=1024x1024");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  display: flex;
  
  padding: 10px 50px;
  flex-direction: row;
  .navbar-cnt{
    width: 100%;
    display: flex;
    flex-direction: row;
    .navbar-icon{
      font-family: 'Great Vibes';
      font-size: 40px;
      font-weight: 400;
      color: white;
    }
    .navbar-search{
      position: absolute;
      left: calc((100% - 300px)/2);
      .MuiAutocomplete-root{
        .MuiFormControl-root {
          background-color: rgb(228, 228, 228);
          border-radius: 28px;
          label{
            padding-left: 10px;
            color: #e28e49;
            &.Mui-focused{
              color: white;
            }
          }
          .MuiInputBase-root.MuiOutlinedInput-root{
            padding-right: 9px;
            .MuiOutlinedInput-notchedOutline{
              border-color: transparent; 
            }
          }
        }
        .MuiAutocomplete-endAdornment{
          display: none;
        }

        &.Mui-focused .MuiFormControl-root{
          background-color: #facda8;
        }
      }
    }
  }
}

// ==============

.card{
  height: 300px;
  width: 250px;
  background-color: rgb(103, 103, 104);
  .card-image{
    height: 50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

// =============

.recipe-page{
  .recipe-page-head-section{
    display: flex;
    flex-direction: row;
    .recipe-page-h-rhs{
      .recipe-ingredients{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        .recipe-ingredient{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .recipe-ingredient-image{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid red;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}