html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.App {
  text-align: center;
}

@for $i from 10 through 50 {
  span.header-text-#{$i} {
    font-family: "Roboto";
    font-size: #{$i}px;
    font-weight: 600;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// =============

.navbar{
  width: auto;
  height: 180px;
  background-color: #ffffff;
  background-image: url("https://img.freepik.com/premium-photo/herb-spices-cooking-background_136595-562.jpg?w=1380");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px 50px;
  flex-direction: row;
  box-shadow: 0px 15px 10px -15px rgb(253, 197, 144);
  z-index: 10;
  .navbar-cnt{
    width: 100%;
    display: flex;
    flex-direction: row;
    .navbar-icon{
      position: relative;
      font-family: 'Great Vibes';
      font-size: 50px;
      font-weight: 400;
      top: 20%;
      color: #f18e3c;
    }
    .navbar-search{
      position: absolute;
      left: calc((100% - 300px)/2);
      .MuiAutocomplete-root{
        .MuiFormControl-root {
          background-color: #eec6a6;
          border-radius: 28px;
          label{
            padding-left: 10px;
            color: white;
            &.Mui-focused{
              color: #e28e49;
              transition: linear 0.25s;
            }
          }
          .MuiInputBase-root.MuiOutlinedInput-root{
            padding-right: 9px;
            .MuiOutlinedInput-notchedOutline{
              border-color: transparent; 
            }
          }
        }
        .MuiAutocomplete-endAdornment{
          display: none;
        }

        &.Mui-focused .MuiFormControl-root{
          background-color: rgb(228, 228, 228);
        }
      }
    }
  }
}

// ==============

.card{
  height: 300px;
  width: 250px;
  background-color: rgb(103, 103, 104);
  .card-image{
    height: 50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

// =============

.recipe-page{
  margin: 20px 5% 0px;
  .recipe-page-head-section{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .recipe-deatils-icon{
      height: 35px;
      width: 35px;
    }
    .recipe-page-h-lhs{
      width: 70%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .recipe-title{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .recipe-deatils-icon{
          position: absolute;
          right: 20px;
        }
      }
      .recipe-image{
        width: 80%;
        position: relative;
        display: inline-block;
        padding: 30px 0px;
        border-radius: 20px;
        background-image: linear-gradient(
          45deg,
          #ff8d30 0%,
          #ff8d30 20%,
          #fde8d7 20%,
          #fde8d7 40%,
          #ff8d30 40%,
          #ff8d30 60%,
          #fde8d7 60%,
          #fde8d7 80%,
          #ff8d30 80%,
          #ff8d30 100%
        );
        img {
          width: 87%;
        }
      }
      .recipe-description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 16px;
        position: relative;
        top: -50px;
        width: 95%;
        background: rgba(255, 255, 255, 0.01);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(255, 255, 255, 0.09);
        border-radius: 32px;
        padding: 20px;
        .recipe-description-head{

        }
        .recipe-description-body {
          text-align: justify;
          letter-spacing: 0.1px;
          line-height: 1.35;
          font-size: 16px;
          b {
            color: #ec7412;
          }
          a {
            color: black;
            text-decoration: none;
            pointer-events: none;
          }
        }
      }
    }
    .recipe-page-h-rhs{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      .recipe-title{
        font-family: 'Open Sans';
      }

      .recipe-details-line{
        width: 90%;
        height: auto;
        border-radius: 24px;
        padding: 0px 18px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(236, 236, 236);

        .recipe-details-line-LHS{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          > div{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .recipe-ingredients{
        height: auto;
        overflow: hidden;
        .recipe-ingredients-list{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;
          .recipe-ingredient{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            .recipe-ingredient-image-cnt{
              width: 50px;
              height: 50px;
              border-radius: 20%;
              padding: 5px;
              border: 1px solid hsla(0, 0%, 49%, .17);
              overflow: hidden;
              backdrop-filter: saturate(180%) blur(20px);
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              transition: linear 0.2s;
              &:hover{
                  transition: linear 0.2s;
                  cursor: pointer;
                  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                }
              .recipe-ingredient-image{
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }
        }
      }
    }
  }
}


//  loader -----------------------

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    