.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// =============

.navbar{
  width: auto;
  height: 65px;
  background-color: #f18e3c;
  position: sticky;
  top: 0;
  display: flex;
  
  padding: 0px 50px;
  flex-direction: row;
  .navbar-cnt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navbar-icon{
      font-family: 'Great Vibes';
      font-size: 40px;
      font-weight: 400;
      color: rgb(231, 231, 231);
    }
    .navbar-search{
      .MuiAutocomplete-root{
        .MuiFormControl-root {
          background-color: rgb(228, 228, 228);
          border-radius: 28px;
          label{
            padding-left: 10px;
            color: #e28e49;
            &.Mui-focused{
              color: white;
            }
          }
          .MuiInputBase-root.MuiOutlinedInput-root{
            padding-right: 9px;
            .MuiOutlinedInput-notchedOutline{
              border-color: transparent; 
            }
          }
        }
        .MuiAutocomplete-endAdornment{
          display: none;
        }

        &.Mui-focused .MuiFormControl-root{
          background-color: #facda8;
        }
      }
    }
  }
}


.card{
  height: 300px;
  width: 250px;
  background-color: rgb(103, 103, 104);
  .card-image{
    height: 50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}